body{
	margin: 0;
	padding: 0;
	background: #eee;
}

/* Navgation*/

.navigation{
	height: 70px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

.navigation > .left-menu{
	float: left;
	margin-left: 7%;
}

.navigation > .right-menu{
	float: right;
	margin-right: 7%;
}

.navigation ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation ul li{
	float: left;
	margin: 21px 20px;
	padding: 2px;
	font-size: 14px;
	color: #46deff;
	cursor: pointer;
	font-weight: bold;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.navigation ul li.active{
	border-bottom: 2px solid #46deff;
}

.navigation ul li a:link,
.navigation ul li a:visited{
	color: #46deff;
}

.navigation ul li:hover{
	border-bottom: 2px solid #46deff;
}

/* Carouselle */

.carouselle{
	height: auto;
}

.carouselle ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.carouselle img{
	width: 100%;
}

/* 3-steps section*/

.three-steps{
	height: 250px;
}

.three-steps > h2{
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 20px auto;
	color: #555;
}

.three-steps > div.divider{
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #eee, gray, #eee);
	margin-bottom: 30px;
}

.three-steps ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.three-steps li{
	float: left;
	display: block;
	width: 30.6%;
	margin-left: 4%;
	height: 180px;
	background: linear-gradient(to bottom, #ccc, #eee);
}

.three-steps li:nth-child(1){
	margin-left: 0 !important;
}

.footer-divider{
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, #eee, silver, #eee);
    margin-top: 60px;
}

footer{
	width: 100%;
	padding: 30px;
	text-align: center;
	color: #aaa;
}

.stop_count{
    float: right;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 40% !important;
    visibility: visible;
    padding-left: 2px !important;
}

.field-wrapper{
    position: relative;
    width: 100%;
    z-index: 20;
}

.available-options{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
}

.available-options li{
    background: #fff;
    height: auto;
    border: 1px solid rgba(34,36,38,.15);
    border-top: none;
    cursor: pointer;
    color: rgba(0,0,0,.95);
    padding: .71428571rem 1.14285714rem;
    transition: height 0.1s ease-in-out;
}

.available-options li:last-child{
    border-radius: 0 0 .28571429rem .28571429rem;
}

.field-error{
    border: 1px solid rgba(255, 0, 0, 0.5) !important;
    background: rgba(255,0,0,.05) !important;
}

.checkboxes > .field > label, .prefered-days > label, .departure-wrapper > label, .airline > label{
    font-weight: normal !important;
    margin-bottom: 0 !important;
}

.checkboxes .segment, .prefered-days .segment{
    margin-top: 0 !important;
}

.or{
    text-align: center;
    background: #d0d0d0 !important;
    border: 1px solid silver;
    margin: 0;
    padding: 13px;
    font-weight: bold;
    color: darkslategray;
    border-radius: 4px;
}

.prefered-days .checkbox{
    margin-right: 12px;
}

.departure-wrapper  input, .flight-data input, .flight-data .dropdown{
    padding: 15px !important;
}

.result-header{
    margin-top: 30px !important;
    border-bottom: 1px solid #00b5ad !important;
}
.result-header-offers{
    margin-top: 30px !important;
    border-bottom: 1px solid #1fc231 !important;
}

.result-header-suggestions{
    margin-top: 30px !important;
    border-bottom: 1px solid #ffdf05 !important;
}

.result{
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, #e7ebee, #b8bdc3);
    border-radius: 5px;
    border: 1px solid silver;
    margin-top: 25px;
    padding: 10px;
}

.departure{
    width: 49.5%;
    height: 100px;
    float: left;
}

.arrive{
    width: 49.5%;
    height: 100px;
    float: right;
}

.weather{
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    border-radius: 4px;
    background-size: 95% !important;
}

.departure > .weather{
    float: left;
    margin-right: 30px;
}

.arrive > .weather{
    float: right;
    margin-left: 30px;
}

.arrive > .data{
    text-align: right;
}

.data > h3, .data > h4, .data > h6{
    margin: 0;
}

.data{
    color: gray;
}

.preference-wrapper{
    clear: both;
}

.add-new.add-preference{
    display: inline-block;
    margin-bottom: 20px;
    clear: both;
}

.preference-wrapper .value, .preference-wrapper .value2{
    float: left;
    margin-right: 10px;
}

.actions i{
    margin: 8px 5px;
    font-size: 20px;
    cursor: pointer;
}

.actions i.fa-times:hover{
    color: red;
    cursor: pointer;
}

.preference-message{
    display: none;
}

.user-preferences{
    margin-bottom: 20px !important;
}

.user-preferences > thead > tr > td:nth-child(1){
    width: 20%;
}

.user-preferences > thead > tr > td:nth-child(2){
    width: 60%;
}

.user-preferences > thead > tr > td:nth-child(3){
    width: 20%;
}

.update-preference, .delete-preference{
    margin-right: 10px;
    cursor: pointer;
}

.update-preference:hover{
    color: limegreen;
}

.delete-preference:hover{
    color: red;
}

.dash{
    margin: 0 10px;
}

.update-success, .update-error{
    display: none;
}

/* socnet login */

.social-networks-login-box{
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.socnet-message{
    display: none;
}

.linkWithFB{
    float: right;
}

.fb-link-item{
    display: none;
}

.error-message{
    color: red;
}